@model bookShopModel.Genre;
@{
    ViewData["Title"] = "Add Genre";
}

<h2>@ViewData["Title"]</h2>
@if (ViewData["Success"] != null)
{
        <div class="alert alert-success text-center">
        @ViewData["Success"]
        </div>
}

@if (ViewData["Fail"] != null)
{
        <div class="alert alert-danger text-center">
        @ViewData["Fail"]
        </div>
}
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.GenreName" >Genre Name</label>
        <input type="text" class="form-control" asp-for="@Model.GenreName" placeholder="Enter book name" required />
    </div>
    <button type="submit" class="btn btn-primary">Add Genre</button>
</form>
