@model bookShopModel.MainViewModel;
@{
    ViewData["Title"] = "Add Book";
}

<h2>@ViewData["Title"]</h2>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["Success"]
    </div>
}

@if (TempData["Fail"] != null)
{
    <div class="alert alert-danger text-center">
        @TempData["Fail"]
    </div>
}
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Book.Name" >Book Name</label>
        <input type="text" class="form-control" asp-for="@Model.Book.Name" placeholder="Enter book name" required />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Book.Quantity">Quantity</label>
        <input type="number" class="form-control" asp-for="@Model.Book.Quantity" placeholder="Enter quantity" required />
    </div>

    <div class="form-group">
        <label for="GenreId">Select Genre</label>
        <select class="form-control" asp-for="@Model.Book.GenreId" onchange="console.log(this.value)" name="Book.GenreId">
            <option value="">-- Select a Genre --</option>
           @{
                foreach (var genre in Model.Genres)
                {
                    <option value="@genre.Id">@genre.GenreName</option>
                }
           }

        </select>
    </div>


    <div class="form-group">
        <label asp-for="@Model.Book.Author">Author</label>
        <input type="text" class="form-control" asp-for="@Model.Book.Author" placeholder="Enter book price" required />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Book.Price">Price (in Toman)</label>
        <input type="number" class="form-control" asp-for="@Model.Book.Price" placeholder="Enter book price" required />
    </div>

    <button type="submit" class="btn btn-primary">Add Book</button>
</form>
